# Cleaning data for test

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
diamonds = pd.read_csv('./diamonds-datamad0321/test.csv')

In [3]:
dicc_color = { 'J': 1, 'I': 2, 'H': 3, 'G':4 , 'F' : 5, 'E': 6, 'D': 7}
diamonds.color = diamonds.color.map(dicc_color)

In [4]:
dic_cut = {'Fair': 1, 'Good': 2, 'Very Good': 3, 'Premium': 4, 'Ideal': 5 }
diamonds.cut = diamonds.cut.map(dic_cut)

In [5]:
from sklearn.preprocessing import OneHotEncoder
onehotencoder = OneHotEncoder()
diamonds_clarity = onehotencoder.fit_transform(diamonds['clarity'].values.reshape(-1,1)).toarray()
labels = [str(a) for a in list(diamonds.clarity.unique())]
diamonds[labels] = pd.DataFrame(diamonds_clarity,index = diamonds.index)
diamonds = diamonds.drop('clarity', axis = 1)

In [6]:
diamonds

,id,carat,cut,color,depth,table,x,y,z,SI1,VS1,VS2,SI2,VVS1,IF,VVS2,I1
0,0,2.01,5,3,61.9,57.0,8.14,8.05,5.01,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,1,0.49,2,7,57.5,60.0,5.18,5.25,3.00,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,2,1.03,4,5,58.6,62.0,6.65,6.60,3.88,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,3,0.90,3,6,63.0,56.0,6.11,6.15,3.86,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,4,0.59,5,7,62.5,55.0,5.35,5.40,3.36,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13480,13480,0.41,2,5,63.8,57.0,4.72,4.69,3.00,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13481,13481,2.05,3,3,63.5,62.0,8.05,7.91,5.07,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
13482,13482,2.22,4,2,60.5,59.0,8.41,8.37,5.08,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
13483,13483,0.51,5,6,58.3,62.0,5.20,5.19,3.04,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
13484,13484,0.46,4,6,61.7,59.0,4.93,4.96,3.05,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [7]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
diamonds['depth'] = scaler.fit_transform(diamonds["depth"].values.reshape(-1,1))

# Applying Models

In [8]:
diamonds_no = diamonds.drop('id', axis =1)

In [9]:
diamonds_no = diamonds.drop('price', axis =1)

KeyError: "['price'] not found in axis"

In [10]:
import pickle

In [ ]:
random_forest2 = pickle.load(open("random_forest", 'rb'))

In [ ]:
diamonds['price'] = random_forest_1.predict(diamonds)

In [ ]:
pricepred.to_csv('price_pred_rf.csv', index = False)

# XGB

In [36]:
XGB = pickle.load(open("xgb_2", 'rb'))

In [37]:
diamond_xgb = diamonds.drop('id', axis = 1)

In [38]:
diamond_xgb['price'] = XGB.predict(diamond_xgb)

ValueError: Feature shape mismatch, expected: 26, got 13485

In [28]:
price_pred_xgb = diamond_xgb['price']

In [30]:
price_pred_xgb.to_csv('xgboost1.csv', index = True)

In [32]:
pred = pd.read_csv('xgboost1.csv')
pred

       Unnamed: 0     price
0               0  9.681017
1               1  7.359447
2               2  8.501926
3               3  8.357931
4               4  7.494875
...           ...       ...
13480       13480  6.362957
13481       13481  9.676069
13482       13482  9.716784
13483       13483  7.066454
13484       13484  7.261662

[13485 rows x 2 columns]

In [34]:
pred['id'] = pred['Unnamed: 0']
pred = pred[['id', 'price']]

In [35]:
pred.to_csv('xgboost1.csv', index = False)

# RF 2

In [11]:
random_forest_2 = pickle.load(open("random_forest2", 'rb'))

In [12]:
diamonds_no['price'] = random_forest_2.predict(diamonds_no)

In [15]:
pricepred2 = diamonds_no[ 'price']

In [16]:
pricepred2.to_csv('price_pred_rf2.csv', index = True)

In [17]:
pred = pd.read_csv('price_pred_rf2.csv')

In [18]:
pred['id'] = pred['Unnamed: 0']

In [19]:
pred = pred[['id', 'price']]

In [20]:
pred.to_csv('price_pred_rf2.csv', index = False)

# Gradient Boost

In [ ]:
gb_1 = pickle.load(open("gb_1", 'rb'))

In [ ]:
diamonds2 = diamonds.drop('price', axis=1).copy()

In [ ]:
diamonds2['price'] = gb_1.predict(diamonds2)

In [ ]:
pricepred2 = diamonds2[['id', 'price']]

In [ ]:
pricepred2.to_csv('price_pred_gb_1.csv', index = False)